<!DOCTYPE html>
<html>
<head>
  <title>Buildingonmap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false">
    </script>
</head>
<body>

<%= form_tag(show_path, method: "post", id: 'buildings', remote: true) do %>
<div id="maps"></div>

<%= label_tag :latitude %>
<%= text_field_tag :latitude, params[:latitude] %>
<%= label_tag :longitude %>
<%= text_field_tag :longitude, params[:longitude] %>

<% end %>
<%= yield %>

</body>
</html>
